@charset "UTF-8";

// 
// ==================================================/
// @import "vendor/andy";
// @import "utils/helpers";
// @import "base/reset";
// @import "vendor/normalize"; 

// @import "base/fonts";
// @import "base/colors";
// @import "components/buttons";

// @import "vendor/mq";
 
@import "vendor/bootstrap4/bootstrap-grid";
@import "vendor/bootstrap4/modal";


// show the active breakpoints (_mq.scss)
// ==================================================/
// @include mq-show-breakpoints;

// show col-* grid borders 
// ==================================================/
[class|="col"] {
  border: 1px solid #000;
}

// temp
body {
  position: relative;
  // @extend %system_normal--300;
}

.item-id {
  background-color: #ccc;
}

.modal {
  overflow-y: scroll;
}