.modal1_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666;
  z-index: 9000;
  opacity: 0.8;
}

.modal1_container {
  @include center-both;
  @extend %padd--4;
  background: #ccc;
  z-index: 9001;
}

.modal1_content {
  // overflow: auto;
}

.modal1_close {
  color: #fff;
  float: right;
  background-color: #000;
  padding: 6px;
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .modal1_bg {
    height: 100%;
  }

  .modal1_container{
    width: 90%;
  }
}

// *small tablet portrait (600x800)
@include mq($from: smallTabletPortrait) {
  .modal1_container{
    margin-top: -10%;
    width: 50%;
  }
}

